

@pcBg:"http://wondergirls.jype.com/images/bg-pc.jpg";
@mobileBg:"http://wondergirls.jype.com/images/bg-720.jpg";
@logo:"http://wondergirls.jype.com/images/logo-s.png";
@biglogo:"http://wondergirls.jype.com/images/mainlogo.png";

@t-col:#F28195;
@b-col:#f4c22d;
