html,body{height: 100%;}
body,h1,h2,h3,ul,ol,dl{margin: 0;}
ul,ol,dl{list-style:none;}
a{text-decoration: none;}



/*body{*/
/*background:url("http://twice.jype.com/images/bg-pc.jpg") no-repeat;*/
/*background-size:cover;*/
/*background-position: center 0;*/
/*border:1px #F00 solid;*/


/*}*/
    
.bg{ height: 100%; border:1px #F00 solid;
background:url("http://twice.jype.com/images/bg-pc.jpg") no-repeat;}